CppUnit/.dep/
Foundation/.dep/
Foundation/samples/ActiveMethod/.dep/
Foundation/samples/Activity/.dep/
Foundation/samples/BinaryReaderWriter/.dep/
Foundation/samples/DateTime/.dep/
Foundation/samples/Logger/.dep/
Foundation/samples/NotificationQueue/.dep/
Foundation/samples/StringTokenizer/.dep/
Foundation/samples/Timer/.dep/
Foundation/samples/URI/.dep/
Foundation/samples/base64decode/.dep/
Foundation/samples/base64encode/.dep/
Foundation/samples/deflate/.dep/
Foundation/samples/dir/.dep/
Foundation/samples/grep/.dep/
Foundation/samples/hmacmd5/.dep/
Foundation/samples/inflate/.dep/
Foundation/samples/md5/.dep/
Foundation/samples/uuidgen/.dep/
Foundation/testsuite/.dep/
Net/.dep/
Net/samples/EchoServer/.dep/
Net/samples/HTTPFormServer/.dep/
Net/samples/HTTPLoadTest/.dep/
Net/samples/HTTPTimeServer/.dep/
Net/samples/Mail/.dep/
Net/samples/Ping/.dep/
Net/samples/TimeServer/.dep/
Net/samples/TwitterClient/.dep/
Net/samples/WebSocketServer/.dep/
Net/samples/dict/.dep/
Net/samples/download/.dep/
Net/samples/httpget/.dep/
Net/testsuite/.dep/
Util/.dep/
Util/samples/SampleApp/.dep/
Util/samples/SampleServer/.dep/
Util/samples/pkill/.dep/
Util/testsuite/.dep/
XML/.dep/
XML/samples/DOMParser/.dep/
XML/samples/DOMWriter/.dep/
XML/samples/PrettyPrint/.dep/
XML/samples/SAXParser/.dep/
XML/testsuite/.dep/
